/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body { 
  font-family: Roboto, Arial, sans-serif;
  background-color:green;
  margin: 0;
  padding:0;
}
#top{
  border-radius: 20px 20px 0 0;
}
#back {
  background-color: green;
}
@media (max-width: 599px){
#back {
    margin-top:40px;
    padding:0;
}
}
@media (min-width: 400px){
  #back{
    margin-top: 40px;
    padding : 0;
  }
}


.mat-card{
border-radius : 30px;
 background-color: white;
 width : 400px;
 padding:0;
 margin:0;
}

.mat-card-content img{
background-color:yellow;
  margin:auto;
  padding:0;
}
.apply{
  border-radius: 20px;
  width: 80px;
  background-color:green;
  color:white;
  position :fixed;
  bottom :10px;
  right:0;
  }
button{
  padding: 10px;
  margin:10px;
}
@font-face {
  font-family: 'Material Icons';
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  /* font-weight: normal; */
  /* font-style: normal; */
  font-size: 20px;
  /* line-height: 1; */
  /* letter-spacing: normal; */
  /* text-transform: none; */
  /* display: inline-block; */
  /* white-space: nowrap; */
  /* word-wrap: normal; */
  /* direction: ltr; */
  /* -webkit-font-feature-settings: 'liga'; */
  /* -webkit-font-smoothing: antialiased; */
}